.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.box-content {
    padding: 0 .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.table-ranking {
    width: 80%;
}
.table-ranking tbody tr:nth-child(2n) {
   background: #F0F0F0;
}
.box-content h2 a{
	font-size:14px;
}

@media (max-width:680px) {
    .table-ranking tr td:nth-child(n+3) {
       display: none;
    }
}
#todays.load{
    background: url("http://upload.wikimedia.org/wikipedia/commons/4/42/Loading.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
}

#todays,#tomorrow{
	border-bottom:1px dotted #DDD;
}
.button-refresh {
    font-size: .6em;
    vertical-align: text-bottom;
}